
#vsphere connetion info
vsphere_server     = "myvcenter.mydomain.local"
vsphere_user       = "myadmin@mydomain.local"
vsphere_password   = "supersecret"
vsphere_datacenter = "mydatacenter"
vsphere_datastore  = "mydatastore"
#Resource Pool (If no resource pool place in CLUSTER/Resources format)
vsphere_rp           = "LAB-CLUSTER/Resources"
vsphere_template     = "Win2019Datacenter_Template_GUI"
#DHCP Network
vsphere_network      = "VLAN2"
#Use linked clones.(Requires a single snapshot on the VM)
vsphere_linkedclones = true
#https://docs.microsoft.com/en-us/previous-versions/windows/embedded/ms912391(v=winembedded.11)?redirectedfrom=MSDN
vsphere_timezone = 020

#VM naming
#Prefix
vm_storefront = "sf-ctx-lab-0"
vm_ddc        = "ddc-ctx-lab-0"
vm_vda        = "vda-ctx-lab-0"
#Actual Name
vm_sql = "sql-ctx-lab-01"


#Join domain
domain_user     = "mydomainadmin"
domain_password = "supersecret"
domain          = "mydomain.local"
